body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1.76;
  letter-spacing: 0.04em;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
}

button {
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  border: none;
  background-color: inherit;
}
