<section class="section section--advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages">
      <li class="factoid factoid--cow">
        <p class="factoid__number">721</p>
        <p class="factoid__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="factoid factoid--weight">
        <p class="factoid__number">16kg</p>
        <p class="factoid__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="factoid factoid--ice-cream">
        <p class="factoid__number">84</p>
        <p class="factoid__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
