<section class="contacts">
  <div class="container__contacts-wrapper">
    <div class="container">
      <h2 class="visually-hidden">Contacts</h2>
      <!-- заголовок скрыть -->
      <ul class="contacts__card-list">
        <li class="contacts__card-item">
          <div class="contacts__wrapper">
            <span class="contacts__representative">CAFE</span>
            <div class="contacts__location">
              <p class="contacts__city">Chicago</p>
              <a
                class="contacts__location-link"
                href="https://goo.gl/maps/tLJc9VHF4GFitb3E6"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
              >
            </div>
            <div class="contacts__schedule">
              <ul class="contacts__schedule-list">
                <li class="contacts__schedule-item">
                  <p class="contacts__schedule-day">Monday - Friday</p>
                  <span class="contacts__schedule-time"
                    >06:00 AM - 10:00 PM</span
                  >
                </li>
                <li class="contacts__schedule-item">
                  <p class="contacts__schedule-day">Saturday - Sunday</p>
                  <span class="contacts__schedule-time"
                    >08:00 AM - 16:00 PM</span
                  >
                </li>
              </ul>
            </div>
            <div>
              <ul class="contacts__connection-list">
                <li class="contacts__connection-item">
                  <a href="tel:+610383766284" class="contacts__connection-link"
                    >+61(0) 383 766 284</a
                  >
                </li>
                <li class="contacts__connection-item">
                  <a
                    href="mailto:noreply@envato.com"
                    class="contacts__connection-link"
                    >noreply@envato.com</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="contacts__card-item">
          <div class="contacts__wrapper">
            <span class="contacts__representative">FOODTRUCK</span>

            <div class="contacts__location">
              <p class="contacts__city">Los Angeles</p>
              <a
                class="contacts__location-link"
                href="https://goo.gl/maps/EM9XdrvogG6MqGSN9"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
            </div>
            <div class="contacts__schedule">
              <ul class="contacts__schedule-list">
                <li class="contacts__schedule-item">
                  <p class="contacts__schedule-day">Monday - Friday</p>
                  <span class="contacts__schedule-time"
                    >06:00 AM - 10:00 PM</span
                  >
                </li>
                <li class="contacts__schedule-item">
                  <p class="contacts__schedule-day">Saturday - Sunday</p>
                  <span class="contacts__schedule-time"
                    >08:00 AM - 16:00 PM</span
                  >
                </li>
              </ul>
            </div>
            <div>
              <ul class="contacts__connection-list">
                <li class="contacts__connection-item">
                  <a href="tel:+610383766284" class="contacts__connection-link"
                    >+61(0) 383 766 284</a
                  >
                </li>
                <li class="contacts__connection-item">
                  <a
                    href="mailto:noreply@envato.com"
                    class="contacts__connection-link"
                    >noreply@envato.com</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="contacts__card-item">
          <div class="contacts__wrapper">
            <span class="contacts__representative">CAFE</span>
            <div class="contacts__location">
              <p class="contacts__city">New York</p>
              <a
                class="contacts__location-link"
                href="https://goo.gl/maps/UvZsMGaoZADRzeaX7"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >726 Sterling Pl, Brooklyn, NY 11222, USA</a
              >
            </div>
            <div class="contacts__schedule">
              <ul class="contacts__schedule-list">
                <li class="contacts__schedule-item">
                  <p class="contacts__schedule-day">Monday - Friday</p>
                  <span class="contacts__schedule-time"
                    >06:00 AM - 10:00 PM</span
                  >
                </li>
                <li class="contacts__schedule-item">
                  <p class="contacts__schedule-day">Saturday - Sunday</p>
                  <span class="contacts__schedule-time"
                    >08:00 AM - 16:00 PM</span
                  >
                </li>
              </ul>
            </div>
            <div>
              <ul class="contacts__connection-list">
                <li class="contacts__connection-item">
                  <a href="tel:+610383766284" class="contacts__connection-link"
                    >+61(0) 383 766 284</a
                  >
                </li>
                <li class="contacts__connection-item">
                  <a
                    href="mailto:noreply@envato.com"
                    class="contacts__connection-link"
                    >noreply@envato.com</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <div class="contacts__btn">
        <button
          type="button"
          class="main-button main-button--location js-open-modal"
          data-modal="map"
        >
          Our Locations
          <svg width="12" height="12" class="contacts__btn-icon">
            <use
              href="./images/svg-sprite/symbol-defs.svg#icon-small-arrow"
            ></use>
          </svg>
        </button>
        <button
          type="button"
          class="main-button main-button--franchise js-open-modal"
          data-modal="franchise"
        >
          Franchise
          <svg width="12" height="12" class="contacts__btn-icon">
            <use
              href="./images/svg-sprite/symbol-defs.svg#icon-small-arrow"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
