<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__wrapper">
      <div class="gallery-slider">
        <div class="gallery-slider__item">
          <img
            srcset="
              ./images/gallery/brooke-lark-1x.jpeg 1x,
              ./images/gallery/brooke-lark-2x.jpeg 2x
            "
            src="/src/images/gallery/brooke-lark.jpeg"
            alt="icecream1"
            width="1013"
            height="422"
          />
        </div>
        <div class="gallery-slider__item">
          <img
            srcset="
              ./images/gallery/courtney-cook-1x.jpeg 1x,
              ./images/gallery/courtney-cook-2x.jpeg 2x
            "
            src="/src/images/gallery/courtney-cook.jpeg"
            alt="icecream2"
            width="1013"
            height="422"
          />
        </div>
        <div class="gallery-slider__item">
          <img
            srcset="
              ./images/gallery/unsplash-1x.jpeg 1x,
              ./images/gallery/unsplash-2x.jpeg 2x
            "
            src="/src/images/gallery/unsplash.jpeg"
            alt="icecrean3"
            width="1013"
            height="422"
          />
        </div>
      </div>
    </div>
  </div>
</section>
