<section class="section gallery">
  <div class="container">
    <div class="gallery__wrapper">
      <div class="gallery-slider">
        <div class="gallery-slider__item">
          <img src="./images/brooke-lark-8beTH4VkhLI-unsplash 1.jpg" alt="icecream" width="1013" height="422">
        </div>
        <div class="gallery-slider__item">
          <img src="./images/courtney-cook-QYsRxRPygwU1.jpg" alt="icecream">
        </div>
        <div class="gallery-slider__item">
          <img src="./images/unsplash_sKM8RK2C-YI.jpg" alt="icecream">
        </div>
      </div>
    </div>
  </div>
</section>
