<section class="section gallery">
  <div class="container">
    <div class="gallery__wrapper">
      <div class="gallery-slider">
        <div class="gallery-slider__item">
          <img src="/src/images/gallery/brooke-lark1.jpg" alt="icecream1" width="1013" height="422">
        </div>
        <div class="gallery-slider__item">
          <img src="/src/images/gallery/courtney-cook1.jpg" alt="icecream2" width="1013" height="422">
        </div>
        <div class="gallery-slider__item">
          <img src="/src/images/gallery/unsplash1.jpg" alt="icecrean3" width="1013" height="422">
        </div>
      </div>
    </div>
  </div>
</section>
