<header class="header">
  <div class="container">
    <nav class="header__navigation">
      <a href="./index.html">
        <img
          src="./images/header/logo.png"
          alt="logo"
          width="60"
          height="65"
          class="header__logo"
        />
      </a>
      <button
        type="button"
        aria-expanded=""
        aria-controls=""
        class="header__burger"
      >
        <svg width="32" height="32" class="">
          <use
            class="header__burger--open"
            href="./images/svg-sprite/symbol-defs.svg#icon-menu"
          ></use>
          <use
            class="header__burger--close"
            href="./images/svg-sprite/symbol-defs.svg#icon-close"
          ></use>
        </svg>
      </button>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Home</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Our products</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Contact</a>
        </li>
      </ul>
      <button type="button" class="main-button">
        Buy now
        <svg width="12" height="12" class="main-button__icon">
          <use
            href="./images/svg-sprite/symbol-defs.svg#icon-small-arrow"
          ></use>
        </svg>
      </button>
    </nav>
  </div>

  <div></div>
</header>
