<header class="header">
  <div class="container">
    <nav class="header__navigation">
      <a href="./index.html">
        <img
          src="./images/header/logo.svg"
          alt="header__logo"
          width="60"
          height="65"
          class="logo"
        />
      </a>
      <button
        type="button"
        aria-expanded=""
        aria-controls=""
        class="menu-button"
      >
        <svg width="32" height="32" class="">
          <use
            class="icon-menu"
            href="./images/svg-sprite/symbol-defs.svg#icon-menu"
          ></use>
          <use
            class="icon-close"
            href="./images/svg-sprite/symbol-defs.svg#icon-close"
          ></use>
        </svg>
      </button>
      <ul class="site-nav">
        <li><a href="#" class="site-nav__item"></a>Home</li>
        <li><a href="#" class="site-nav__item"></a>How it’s made?</li>
        <li><a href="#" class="site-nav__item"></a>Our products</li>
        <li><a href="#" class="site-nav__item"></a>Contact</li>
      </ul>
      <button type="button" class="cta-button">
        Buy now
        <svg width="12" height="12" class="cta-button__icon">
          <use
            href="./images/svg-sprite/symbol-defs.svg#icon-small-arrow"
          ></use>
        </svg>
      </button>
    </nav>
  </div>

  <div></div>
</header>
