<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__left">
        <h1 class="hero__heading">Ice cream<br />made with<br />passion</h1>

        <ul class="hero__list-button">
          <li>
            <a href="#products" class="main-button main-button--products"
              >Products</a
            >
          </li>
          <li class="hero__button-anchor">
            <a href="#about">How it’s made?</a>
          </li>
        </ul>
      </div>

      <ul class="hero__list-resource">
        <li class="hero__list-item">
          <span class="hero__value-resource">16</span>
          <span class="hero__name-resource">cafes</span>
        </li>
        <li class="hero__list-item">
          <span class="hero__value-resource">23</span>
          <span class="hero__name-resource">food trucks</span>
        </li>
      </ul>
    </div>

    <div class="hero__bottom-wrap">
      <p class="hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button type="button" class="hero__arrow-btn">
        <svg class="hero__big-arrow" width="40" height="16">
          <use
            href=".//.//images/svg-sprite/symbol-defs.svg#icon-big-arrow"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>
