<section class="hero">
	<div class="container hero__container">
		<h1 class="hero__heading">Ice cream<br>made with<br>passion</h1>
		<ul class="hero__list-resource">
			<li>
				<p class="hero__value-resource">16</p>
			</li>
			<li>
				<p class="hero__name-resource">cafes</p>
			</li>
			<li>
				<p class="hero__value-resource">23</p>
			</li>
			<li>
				<p class="hero__name-resource">food trucks</p>
			</li>
		</ul>
		<ul class="hero__list-button">
			<li>
				<a href="#products">
					<button type="button" class="hero__button-anchor1">Products</button>
				</a>
			</li>
			<li>
				<a href="#about">
					<button type="button" class="hero__button-anchor2">How it’s made?</button>
				</a>
			</li>
		</ul>

		<p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
			incididunt ut labore et
		</p>
		<button type="button" class="hero__button-anchor3">
			<svg class="hero__big-arrow" width="40" height="16">
				<use href=".//.//images/svg-sprite/symbol-defs.svg#icon-big-arrow"></use>
			</svg>
		</button>
	</div>
</section>