<section class="hero">
	<div class="container hero__container">
		<h1 class="hero__heading">Ice cream<br>made with<br>passion</h1>
		<ul class="hero__list-resource">
			<li>
				<p class="hero__value-resource">16</p>
			</li>
			<li>
				<p class="hero__name-resource">cafes</p>
			</li>
			<li>
				<p class="hero__value-resource">23</p>
			</li>
			<li>
				<p class="hero__name-resource">food trucks</p>
			</li>
		</ul>
		<ul class="hero__list-button">
			<li>
				<a href="#products">
					<button type="button" class="hero__button-anchor1">Products</button>
				</a>
			</li>
			<li>
				<a href="#about">
					<button type="button" class="hero__button-anchor2">How it’s made?</button>
				</a>
			</li>
		</ul>

		<p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
			incididunt ut labore et
		</p>
		<button type="button" class="hero__button-anchor3">
			<svg class="hero__big-arrow" width="40" height="16">
				<use href=".//.//images/svg-sprite/symbol-defs.svg#icon-big-arrow"></use>
			</svg>
		</button>
		<div class="hero__img">
			<img class="hero__img-hero" srcset=".//.//images/img-hero/img-hero_177.png 320w, .//.//images/img-hero/img-hero_177@2x.png 640w
				.//.//images/img-hero/img-hero_218.png 480w, .//.//images/img-hero/img-hero_218@2x.png 960w
				.//.//images/img-hero/img-hero_268.png 768w, .//.//images/img-hero/img-hero_268@2x.png 1536w
				.//.//images/img-hero/img-hero_456.png 1200w, .//.//images/img-hero/img-hero_456@2x.png 2400w"
				src=".//.//images/img-hero/img-hero_177.png"
				sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 480px) 480px, 100vw" alt="">
			<img class="hero__plate-768-1200" srcset=".//.//images/img-hero/plate_152.png 768w, .//.//images/img-hero/plate_152@2x.png 1536w
				.//.//images/img-hero/plate_225.png 1200w, .//.//images/img-hero/plate_225@2x.png 2400w"
				src=".//.//images/img-hero/plate_152.png" sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, 100vw"
				alt="">
			<img class="hero__point-320-480" srcset=".//.//images/img-hero/points_320.png 320w, .//.//images/img-hero/points_320@2x.png 640w
				.//.//images/img-hero/points_330.png 480w, .//.//images/img-hero/points_330@2x.png 960w"
				src=".//.//images/img-hero/points_320.png" sizes="(min-width: 480px) 480px, 320px" alt="">
			<img class="hero__point-768"
				srcset=".//.//images/img-hero/points_768.png 768w, .//.//images/img-hero/points_768@2x.png 1536w"
				src=".//.//images/img-hero/points_768.png" sizes="(min-width: 768px) 768px, 480px" alt="">
			<img class="hero__point-1200"
				srcset=".//.//images/img-hero/points_1200.png 1200w, .//.//images/img-hero/points_1200@2x.png 2400w"
				src=".//.//images/img-hero/points_1200.png" sizes="(min-width: 1200px) 1200px, 100vw" alt="">
		</div>
	</div>
</section>