<div class="modal-map__backdrop backdrop">
  <div class="modal-map__modal modal">
    <button type="button" class="modal-map__close modal__close">
      <svg width="20" height="20">
        <use href="./images/svg-sprite/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-map__title">Our Locations</h2>
    <iframe
      class="modal-map__map"
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d19532.52391687199!2d34.56073302375338!3d49.5857857652143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1673724901265!5m2!1sru!2sua"
      width="224"
      height="199"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <button class="main-button modal-map__btn" type="button">Open map</button>
  </div>
</div>
