<div class="backdrop notis-hidden" data-modal>
  <div class="modal">
    <strong class="modal__title modal__title--franchise" id="modal__title">
      Thank you for your interest in owning an Ice Cream shop
    </strong>
    <p class="modal__desc modal__desc--franchise">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <button class="modal__close" data-modal-close>
      <svg class="">
        <use href="../src/images/svg-sprite/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <form class="form" name="form">
      <input
        class="modal__input"
        name="user-name"
        id="name"
        type="text"
        minlength="5"
        placeholder="Name"
      />
      <input
        class="modal__input"
        name="user-phone"
        id="phone"
        type="tel"
        placeholder="Phone"
      />
      <input
        class="modal__input"
        name="user-email"
        id="email"
        type="email"
        placeholder="Email"
      />
      <textarea
        class="modal__comment"
        name="user-message"
        id="message"
        rows="6"
        placeholder="Comment"
      ></textarea>

      <button class="main-button main-button--modal" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
