<div class="buy-now  is-hidden">
    <div class="buy-now__modal">
        <button type="button" class="buy-now__button" data-modal-close>
            <svg width="14" height="14" class="buy-now__close-svg">
                <use href="./images/svg-sprite/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <p class="buy-now__heading">Buy now</p>
        <form action="">
            <div class="buy-now__checkbox">
                <div class="buy-now__checkbox-item">
                    <label for="ice-cream" class="buy-now__label">ice cream</label>
                    <input type="checkbox" id="ice-cream" name="product" value="ice cream" class="buy-now__check-input" />
                    <div class="buy-now__check-wrapper">
                        <img src="./images/buy-now/buy-ice-cream-1x.jpg" alt="ice cream" class="buy-bow__check-img">
                    </div>
                </div>
                <div class="buy-now__checkbox-item">
                    <label for="ice-coffee" class="buy-now__label">ice coffee</label>
                    <input type="checkbox" id="ice-coffee" name="product" value="ice coffee" class="buy-now__check-input"  />
                    <div class="buy-now__check-wrapper">
                        <img src="./images/buy-now/buy-ice-coffee-1x.jpg" alt="ice coffee" class="buy-bow__check-img">
                    </div>
                </div>
                <div class="buy-now__checkbox-item">
                    <label for="milkshake" class="buy-now__label">milkshake</label>
                    <input type="checkbox" id="milkshake" name="product" value="milkshake" class="buy-now__check-input" />
                    <div class="buy-now__check-wrapper">
                        <img src="./images/buy-now/buy-milkshake-1x.jpg" alt="milkshake" class="buy-bow__check-img">
                    </div>
                </div>
            </div>
            <div class="buy-now__input-group">
                <label for="name">name</label>
                <div class="buy-now__input-wrapper">
                    <input type="text" class="buy-now__input" name="name" id="name" required>
                </div>
            </div>
            <div class="buy-bow__input-group">
                <label for="tel">Phone</label>
                <div class="buy-now__input-wrapper">
                    <input type="tel" class="buy-now__input" id="tel" value="+380" name="tel"
                        pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" required>
                </div>
            </div>
            <div class="buy-now__input-group">
                <label for="comment">comment</label>
                <textarea name="comment" id="comment" class="buy-now__text" ></textarea>
            </div>
            <button type="submit" class="buy-now__btn-submit button">submit</button>

        </form>
    </div>

</div>
