<section class="reviews section">
  <div class="container">
    <ul class="carousel">
      <li class="carousel__item">
            <!-- <picture>
              <source srcset="./img/img5.jpg 1x, ./img/img5-2x.jpg 2x" media="min-width:1200px">
              <source srcset="./img/img5-tab-1x.jpg 1x, ./img/img5-tab-2x.jpg 2x" media="min-width:768px">
              <source srcset="./img/img5-mob-1x.jpg 1x, ./img/img5-mob-2x.jpg 2x" media="min-width:480px">
              <img srcset="./img/img5.jpg 1x, ./img/img5-2x.jpg 2x" src="./img/img5.jpg" alt="Микола Тарасов" width="270"
                class="picture-list__img">
            </picture> -->
        <!-- <picture>
          <source srcset="./images/reviews/rev-ice-cream-one.jpg 1x, ./img/img5-2x.jpg 2x" media="min-width:1200px">
          <source srcset="./img/img5-tab-1x.jpg 1x, ./img/img5-tab-2x.jpg 2x" media="min-width:768px">
          <source srcset="./img/img5-mob-1x.jpg 1x, ./img/img5-mob-2x.jpg 2x" media="min-width:480px">
          <img srcset="./images/reviews/rev-ice-cream-one.jpg 1x" src="./images/reviews/rev-ice-cream-one.jpg" alt="ice-cream" class="carousel__img-big" width="1013">
        </picture> -->
        <img src="./images/reviews/rev-person-one.jpg" alt="emily" class="carousel__img-small" width="85">
        <p class="carousel__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In <br> addition, you have
          beautiful
          serving, cozy atmosphere and polite staff.
        </p>
        <p class="carousel__name">Emily, Los Angeles</p>
      </li>
      <li class="carousel__item">
        <img src="./images/reviews/rev-person-two.jpg" alt="bryan" class="carousel__img-small" width="85">
        <p class="carousel__text">Every day we come to you with friends after classes in college. We love your ice cream <br> and casual atmosphere!
        </p>
        <p class="carousel__name">Bryan, New-York</p>
      </li>
      <li class="carousel__item pink">
        <img src="./images/reviews/rev-person-three.jpg" alt="diana" class="carousel__img-small" width="85">
        <p class="carousel__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the <br> excellent service -
          always
          served politely and quickly!
        </p>
        <p class="carousel__name">Diana, Chicago</p>
      </li>
    </ul>
  </div>
</section>
