.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1100;
  transition: 0.3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;
  max-width: 280px;
  max-height: 95vh;
  overflow: scroll;

  padding: 29px 20px;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  background-color: var(--secondary-text-color);
  z-index: 1101;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__close {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 20px;
    height: 20px;
    fill: var(--main-text-color);
    background-color: transparent;
    &:hover,
    &:focus {
      fill: var(--ice-coffee-color);
    }
  }

  &__close svg {
    width: 100%;
    height: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 20px;
    font-family: 'Seymour One', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    align-items: center;
    text-align: center;
    color: var(--main-text-color);
  }

  &__input {
    background-color: var(--form-bg-color);
    border: 1px solid #84a178;
    border-radius: 10px;
    margin-bottom: 12px;
    width: 100%;
    height: 32px;
    padding: 8px 12px;

    &::placeholder {
      color: var(--main-text-color);
      line-height: 1.4;
    }
  }

  &__comment {
    background-color: var(--form-bg-color);
    border: 1px solid #84a178;
    border-radius: 10px;
    margin-bottom: 26px;
    width: 100%;
    height: 65px;
    resize: none;
    padding: 8px 12px;
    color: var(--main-text-color);

    &::placeholder {
      color: var(--main-text-color);
      line-height: 1.4;
    }
  }
}

.main-button--modal {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 132px;
}

@media screen and (min-width: $tablet-min) {
  .modal {
    max-width: 568px;
    width: 568px;
    padding: 32px 40px;

    &__title {
      margin-bottom: 24px;
    }

    &__input {
      width: 368px;
      margin-bottom: 16px;
    }

    &__comment {
      width: 368px;
      margin-bottom: 32px;
    }

    &__close svg {
      width: 24px;
      height: 24px;
    }
  }

  .main-button--modal {
    width: 121px;
  }
}

.modal__input:not(:placeholder-shown):invalid {
  border-color: red;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.main-button--modal-buy {
  width: 114px;

  @media screen and (min-width: $tablet-min) {
    width: 132px;
  }
}
