.modal__title--franchise {
  font-size: 16px;
  line-height: 1.5;
  @media screen and (min-width: $tablet-min) {
    font-size: 20px;
    line-height: 1.4;
  }
}
.modal__desc--franchise {
  margin-bottom: 24px;
  @media screen and (min-width: $tablet-min) {
    margin-bottom: 32px;
  }
}
