.about {
    @media screen and(min-width:$mini-mobile-min){
    padding-bottom: 50px;
    }
    @media screen and(min-width:$mobile-min) and (max-width:$desktop-max) {
    padding-bottom: 60px;
    }
    padding-top: 60px;
    color: var(--secondary-text-color);
    
    &__title-uppertitle {
        @media screen and(min-width:$mobile-min)and (max-width:$tablet-max) {
        display: flex;
        flex-direction: column;
        }
        }

    &__uppertitle {
        text-align: center;
        text-transform: uppercase;
        @media screen and(min-width:$mini-mobile-min) {
        @include font($fs:18, $fw:700, $lh:22, $ls:0.04em);
        margin-bottom: 12px;
        }
        @media screen 
        and(min-width:$mobile-min) and (max-width:$tablet-max) {
        margin-bottom: 12px;
        }
        @media screen and(min-width:$tablet-min) and (max-width:$desktop-max) {
            @include font($fs:22, $fw:800, $lh:27, $ls:0.04em); 
            margin-bottom: 12px;
        }
        @media screen and(min-width:$desktop-min) {
            @include font($fs:30, $fw:800, $lh:37, $ls:0.04em);  
        }
        }

    &__title {
        @media screen and(min-width:$mini-mobile-min) {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 54px;
        @include font($fs:30, $fw:400, $lh:38, $ls:0.04em);
        }
        @media screen and(min-width:$mobile-min) and (max-width:$tablet-max) {
        margin-bottom: 54px;
        }

        @media screen and(min-width:$tablet-min) and (max-width:$desktop-max) {
        @include font($fs:34, $fw:400, $lh:43, $ls:0.06em);
        width: auto;
        margin-bottom: 80px;
        }
        @media screen and(min-width:$desktop-min){
        @include font($fs:36, $fw:400, $lh:45, $ls:0.06em);
        width: auto;
        margin-bottom: 120px;
        }
        font-family: 'Seymour One';
        @include font($fs:none, $fw:400, $lh:none, $ls:0.06em);
        text-align: center;
        text-transform: uppercase;
        }
}

.about__img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    @media screen and(min-width:$mini-mobile-min) and(max-width:$tablet-max) {
    width: 279px;
    height: 278px;
    }
    @media screen and(min-width:$tablet-min)and (max-width:$desktop-max) {
    width: 330px;
    height: 330px; 
    }
    @media screen and(min-width:$desktop-min) {
    width: 100%;
    height: 100%;
    }
}

.about__pictures {
    z-index: 999;
    position: relative;
}

.about__images {
    margin-bottom: 40px;
    @media screen and(min-width:$mobile-min) and(min-width:$tablet-min) {
        margin-right: 0px;
    }
    
    @media screen and(min-width:$tablet-min) and (max-width:$desktop-max) {
        margin-bottom: 0px;
    }
    @media screen and(min-width:$desktop-min) {
        margin-right: 0px;
        margin-bottom: 0px;
    }
    z-index: 10;
    position: relative;
}

.about__images::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: 5;
    background: linear-gradient(rgba(248,210,78,.7),rgba(248,210,78,.7)),#d9d9d9;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 22px;
    box-shadow: 0 8px 30px rgb(153 114 23 / 25%);
     width: 279px;
     height: 278px;
     left: 50%;
     transform: translate(-50%);
    @media screen and(min-width:$tablet-min) {
        width: 321px;
        min-height: 330px;
        bottom:26px;
    }
    @media screen and(min-width:$desktop-min) {
        bottom:39px;
        width: 490px;
        min-height: 490px;
    }
}

.about__text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and(min-width:$tablet-min) and (max-width:$desktop-max) {
        display: flex;
        align-items: flex-start;
    }
    @media screen and(min-width:$desktop-min){
        width: 463px;
        align-items: flex-start;
    }
    }

.about__text {
    color: var(--secondary-text-color);
    @media screen and(min-width:$mini-mobile-min) and (max-width:$tablet-min) {
        width: 220px;
        margin-left: auto;
        margin-right: auto;
        @include font($fs:12, $fw:400, $lh:21, $ls:0.04em);
        margin-bottom: 4px;
        text-align: center;
    }
    @media screen and(min-width:$tablet-min) and (max-width:$desktop-max) {
        width: 344px;
        height: 84px;
        @include font($fs:12, $fw:400, $lh:21, $ls:0.04em);
        margin-bottom: 8px;
        margin-right: 0px;
        margin-left: 0px;
        text-align: left;
    }
    @media screen and(min-width:$desktop-min) {
        width: 463px;
        height: 111px;
        @include font($fs:16, $fw:400, $lh:28, $ls:0.04em);
        margin-bottom: 8px;
    }
}

.about__text-paragraph {
    @media screen and(min-width:$mini-mobile-min) {
        width: 220px;
        margin-left: auto;
        margin-right: auto;
        @include font($fs:12, $fw:400, $lh:19, $ls:0.04em);
        margin-bottom: 10px;
        text-align: center;
    }

    @media screen and(min-width:$mobile-min) {
        margin-bottom: 24px;
    }

    @media screen and(min-width:$tablet-min) and (max-width:$desktop-max) {
        width: 344px;
        height: 103px;
        @include font($fs:12, $fw:400, $lh:21, $ls:0.04em);
        margin-bottom: 8px;
        margin-right: 0px;
        margin-left: 0px;
        text-align:start;
     }

     @media screen and(min-width:$desktop-min) {
        width: 463px;
        height: 107px;
        @include font($fs:14, $fw:400, $lh:27, $ls:0.04em);
        text-align:start;
    }
}

.about__text-paragraph-hidden {
    display: none;
    @media screen and(min-width:$tablet-min) and (max-width:$desktop-max) {
        display:flex;
        text-align: start;
        height: 51px;
        @include font($fs:12, $fw:400, $lh:23, $ls:0.04em);
        margin-bottom: 32px;
    }
    @media screen and(min-width:$desktop-min) {
        display:flex;
        width: 457px;
        height: 23px;
        @include font($fs:14, $fw:400, $lh:27, $ls:0.04em);
        margin: 0px;
        margin-bottom: 54px;
        text-align:start;
    }
}

.about__contant-wrap {
@media screen and(min-width:$tablet-min) and (max-width:$desktop-max) {
    display: flex;
    column-gap: 38px;
    flex-direction:row;
}

@media screen and(min-width:$desktop-min)  {
    display: flex;
    column-gap: 109px;
    flex-direction:row;
    align-items: flex-start;
}
@media screen and(min-width:$desktop-min) {
    height: 490px;
    align-items:center;
}
}

.about__button-icon {
    margin-left: 5px;
}