.gallery {
    width: 100%;
    height: 562px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.gallery-slider {
    display: flex;
    width: 1013px;
    height: 422px;
    border: 0.5px solid transparent;
    border-radius: 24px;
    object-fit: cover;
    overflow: hidden;
    background-color: #ffff;
    position: absolute;
    top: -98px;
    right: center;
    z-index: 999;

}