.header {
  background-color: var(--main-gradient-color);
  position: absolute;
  width: 100%;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $tablet-max) {
    padding-top: 12px;
  }

  @media screen and (min-width: $tablet-min) and (max-width: $desktop-max) {
    padding-top: 20px;
  }

  @media screen and (min-width: $desktop-max) {
    padding-top: 18px;
  }
}

.header__logo {
  @media screen and (max-width: $mobile-max) {
    width: 40px;
    height: 37px;
  }

  @media screen and (min-width: $mobile-min) and (max-width: $desktop-max) {
    width: 48px;
    height: 44px;
  }

  @media screen and (min-width: $desktop-min) {
    width: 60px;
    height: 65px;
  }
}

.header__burger {
  fill: var(--main-bg-color);

  @media screen and (max-width: $desktop-max) {
    margin-left: auto;
  }

  @media screen and (min-width: $desktop-min) {
    display: none;
  }

  &:hover {
    fill: var(--btn-hover-color);
  }
}

.header__burger--open {
  // display: none;
}

.header__burger--close {
}

.main-button {
  @media screen and (max-width: $tablet-max) {
    display: none;
  }

  @media screen and (min-width: $tablet-min) {
    display: flex;
    margin-left: 36px;
  }
}

.main-button__icon {
  margin-left: 8px;
}

.site-nav {
  @media screen and (max-width: $desktop-max) {
    display: none;
  }

  @media screen and (min-width: $desktop-min) {
    display: flex;
  }
}

.site-nav__item {
  &:not(:last-child) {
    margin-right: 28px;
  }
}

.site-nav__link {
  color: var(--main-bg-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 0.8;

  &:hover {
    color: var(--secondary-bg-color);
  }
  &:focus {
    color: var(--secondary-bg-color);
  }
}
