.header {
  background-color: var(--main-gradient-color);
}

.logo {
  @media screen and (max-width: 479px) {
    width: 40px;
    height: 37px;
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 48px;
    height: 44px;
  }
}

.header__navigation {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.menu-button {
  fill: var(--main-bg-color);
}

.icon-close {
  display: none;
}

.site-nav {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.cta-button {
  padding: 12px 36px;

  border-radius: 10px;
  background-color: var(--secondary-bg-color);
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.cta-button__icon {
  margin-left: 8px;
}
