.hero {
	max-width: 100%;

	height: 664px;
	padding-top: 118px;
	background-color: var(--main-gradient-color);

	&__container {
		position: relative;
	}

	&__heading {
		display: inline-block;
		margin-bottom: 28px;

		font-family: 'Seymour One', sans-serif;
		font-weight: 400;
		font-size: 38px;
		line-height: 1.26;
		text-transform: uppercase;

		color: var(--secondary-text-color);
	}

	&__list-resource {
		position: absolute;
		top: 8px;
		right: 16px;
	}

	&__value-resource {
		font-weight: 900;
		font-size: 46px;
		line-height: 1.22;
		text-align: right;
		text-transform: uppercase;
		color: var(--main-text-color);
	}

	&__name-resource {
		font-size: 14px;
		line-height: 1.21;
		text-align: right;
		color: var(--secondary-text-color);
	}

	&__list-button {
		display: flex;
		margin-bottom: 110px;

		gap: 12px;
		align-items: center;
	}

	&__button-anchor1 {
		min-width: 134px;
		height: 42px;
		border-radius: 10px;
		border: 2px solid var(--secondary-bg-color);

		font-weight: 600;
		font-size: 14px;
		line-height: 1.29;

		color: var(--main-text-color);
	}

	&__button-anchor2 {
		min-width: 154px;
		height: 42px;
		font-weight: 600;
		font-size: 14px;
		line-height: 1.21;

		text-decoration-line: underline;

		color: var(--secondary-bg-color);
	}

	&__description {
		display: inline-block;
		width: 220px;
		margin-left: 240px;
		margin-bottom: 24px;

		font-size: 14px;
		line-height: 1.43;
		color: var(--secondary-text-color);
	}

	&__button-anchor3 {
		background-color: red;
	}

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		bottom: 0;
		background-color: green;
	}

	&__close-icon {
		fill: val(--secondary-text-color);
	}
}